/*
* @LastEditors: Mark
* @Description: In User Settings Edit
* @Author: Mark
* @Date: 2019-05-05 14:59:32
* @LastEditTime: 2019-06-24 12:23:04
 */
@import "@/assets/style/global.scss";

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.6);
  .content {
    width: 92vw;
    height: 92vh;
    position: absolute;
    margin-top: 4vh;
    margin-left: 4vw;
    background-color: #fff;
    border-radius: px(5);
    overflow: hidden;
  }
}

$footerH: 70;
.mapBox {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: px($footerH);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  height: px($footerH);
  border-top: 1px solid #ddd;
  .Btn {
    width: px(132);
    height: px(42);
    background-color: #2a8aff;
    border-radius: px(100);
    color: #fff;
    font-size: px(16);
    line-height: px(42);
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: px(14);
  }
}
